@model ThingWall.Models.CreateViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create for user @Model.Username</h2>

@using (Html.BeginForm())
{
<tr>
    <td>
        @Html.LabelFor(x => x.Name, "Nazwa: ")
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </td>
    <td>
        @Html.LabelFor(x => x.Description, "Opis: ")
        @Html.TextBoxFor(x => x.Description)
        @Html.ValidationMessageFor(x => x.Description)
    </td>
</tr>
    <input type="submit" value="Wyślij" />
}